@charset UTF-8;

body {
	font-weight:100;
	line-height:1.5;
	font-family:'Source Sans Pro', serif;
	-webkit-font-smoothing:antialiased;
	border-top:.25em solid #222;
	color:#222;
	background:#fff;
}

article {
	font-size: 1.3em;
}

.languages {
	font-size: .7em;
	line-height: 1.3em;
	margin: 0 0 .3em;
}

.languages a {
	font-size: 1em;
	line-height: 1.3em;
	margin: 0 0 .3em;
}

ul,ol,dl {
padding:0 0 0 1.75em;
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
font-weight:600;
}

h1,.h1 {
font-size:2.5em;
line-height:1.2em;
margin:0 0 .3em;
}

h2,.h2 {
font-size:2em;
line-height:1.25em;
margin:0 0 .375em;
}

h3,.h3,h4,.h4 {
font-size:1.5em;
line-height:1.33333em;
margin:0 0 .5em;
}

h5,.h5,h6,.h6 {
font-size:1.125em;
line-height:1.33333em;
margin:0 0 .33333em;
}

.text-left {
text-align:left;
}

.text-centre,.text-center {
text-align:center;
}

.spancode {
	background-color: #EAEAEA;
	border-style: solid;
	border-width: 4px;
	border-color: #EAEAEA;
	border-radius:5px;
}

.milli {
font-size:.875em;
}

.kilo {
font-size:1.125em;
line-height:1.33333em;
}

.mega {
font-size:1.5em;
line-height:1.33333em;
}

.giga {
font-size:2em;
line-height:1.25em;
}

blockquote,q,cite {
font-style:normal;
}

blockquote {
width:70%;
margin-left:5%;
}

blockquote>p {
font-size:1.25em;
line-height:1.2em;
margin-bottom:.5em;
}

blockquote>p:first-of-type {
text-indent:-.35em;
}

blockquote>p:first-of-type::before {
content:open-quote;
}

blockquote>p:last-of-type::after {
content:close-quote;
}

figure>figcaption {
font-size:.875em;
text-align:center;
color:#999;
}

abbr[title],acronym[title],dfn[title] {
border-bottom:1px dotted #b3b3b1;
cursor:help;
}

small {
font-size:.75em;
}

sup {
position:relative;
top:-.5em;
vertical-align:baseline;
padding:0 .25em;
}

ins::before {
position:relative;
top:.15em;
content:"\0000a0↳\0000a0";
}

a {
text-decoration:none;
color:#02779e;
-webkit-transition:all .25s ease 0;
transition:all .25s ease 0;
}

a:hover {
text-decoration:underline;
color:#03b0ea;
}

a:active,a:focus {
outline:1px dotted;
}

a[rel=reference] {
position:relative;
top:.25em;
padding:0 .25em;
}

hr {
height:1px;
border:0;
background:#b3b3b1;
margin:0 0 1em;
padding:0;
}

table {
border-collapse:collapse;
border:1px solid #b3b3b1;
margin:0 auto 1em;
}

table th {
font-weight:400;
text-align:left;
background:#f4f4f4;
}

table th,table td {
border-right:1px solid #b3b3b1;
border-bottom:1px solid #b3b3b1;
padding:.25em .5em;
}

img {
max-width:100%;
}

.img--left {
float:left;
margin-right:1em;
margin-bottom:1em;
}

.img--right {
float:right;
margin-bottom:1em;
margin-left:1em;
}

.img--centre,.img--center {
display:block;
margin:0 auto 1em;
}

.img--fit {
display:block;
min-width:100%;
}

.cta {
display:block;
max-width:80%;
border:1px solid;
text-align:center;
font-size:1.5em;
box-shadow:inset 0 0 1px rgba(255,255,255,0.75);
margin:0 auto;
padding:.35em .5em;
}

.cta--github {
color:#333!important;
background:linear-gradient(#fafafa,#ddd) repeat-x 0 0;
background-size:100% 150%;
text-shadow:0 0 1px rgba(255,255,255,0.5);
border-color:#d7d7d7;
}

.cta--github:hover {
background-color:#e4e4e4;
background-position:0 50%;
}

.cta--jsfiddle {
color:#fff!important;
background:linear-gradient(#5987c4,#366199) repeat-x 0 0;
background-size:100% 150%;
text-shadow:0 0 1px rgba(0,0,0,0.25);
border-color:#335b90;
}

.cta--jsfiddle:hover {
background-color:#3e6aa3;
background-position:0 50%;
}

.archived {
padding-top:1em;
border-top:1px solid #b3b3b1;
}

.archived__title a {
color:#222;
text-decoration:none;
}

.archived__title a:hover {
border-bottom:1px solid #02779e;
}

.archived__meta {
font-size:.875em;
line-height:1.28571em;
color:#999;
}

.archived__date {
	margin-top: -1em;
	margin-bottom: 2em;
	color: #999;
	font-size: .75em;
}

.about {
border:1px solid #e7e7e7;
background:#f4f4f4;
border-radius:.25em;
margin:1em 0;
padding:1em;
}

.about__avatar {
float:left;
margin-right:1em;
border-radius:.15em;
}

.about__body {
overflow:hidden;
}

.post__meta {
line-height:3em;
color:#999;
}

.post__body {
padding-bottom:1em;
border-bottom:.25em solid #222;
}

.post__footer {
display:table;
width:100%;
margin:2em 0;
}

.post__footer a[rel=prev]::before {
content:"\2190\00A0";
}

.post__footer a[rel=next]::after {
content:"\00A0\2192";
}

html,body {
	margin:0;
}

.container {
max-width:50em;
min-width:18em;
margin:0 auto;
padding:0 1em;
}

#site-header {
display:table;
width:100%;
font-size:1.25em;
vertical-align:middle;
padding:2em 0;
}

#site-header .site-logo img {
vertical-align:middle;
}

#site-header .site-navigation>li {
display:inline;
}

#site-header .site-navigation>li>a {
text-decoration:none;
margin:0 .5em;
}

#site-header .site-navigation>li>a:hover {
border-bottom:1px solid;
}

#site-footer {
margin-top:1em;
border-top:1px solid #b3b3b1;
padding:1em 0 2em;
}

p,ul,ol,dd,figure,iframe {
margin:0 0 1em;
}

.text-right,.post__footer a[rel=next],#site-header .site-navigation {
text-align:right;
}

blockquote cite,.highlight .gs,.post__bookmark {
font-weight:700;
}

ins,.cta:hover {
text-decoration:none;
}

.archived__title,.about__title,.post__title {
margin-bottom:0;
}

.post__footer a,#site-header>nav,#site-header>header {
display:table-cell;
}

@media all and max-width 32em{
h1,.h1 {
font-size:2em;
line-height:1.25em;
margin:0 0 .375em;
}

h2,.h2 {
font-size:1.5em;
line-height:1.33333em;
margin:0 0 .5em;
}

h3,.h3,h4,.h4 {
font-size:1.125em;
line-height:1.33333em;
margin:0 0 .66667em;
}

h5,.h5,h6,.h6 {
font-size:1em;
line-height:1.5;
margin:0 0 .375em;
}

.milli {
font-size:.75em;
}

