.elasticbeanstalk/
/bootstrap/compiled.php
/vendor
composer.phar
.DS_Store
Thumbs.db
.environment
.environmentOLD
public/.htaccess
database.restore.sh
*~
public/assets/vendor
app/storage
.idea
.env*
_ide_helper.php
*thumb.jpg
