.elasticbeanstalk/
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.DS_Store
Thumbs.db
.environment
.environmentOLD
public/.htaccess
database.restore.sh
*~
public/assets/vendor
app/storage
.idea