DB=antoniocarlosribeiro_staging

cp database.create-database.sql.template /tmp/database.create-database.sql
cp database.create-database.sql /tmp

cp database.permissions.sql.template /tmp/database.permissions.sql
cp database.permissions.sql /tmp

cp app/database/dumps/antoniocarlosribeiro.pgsql.dump /tmp

createdb $DB
sudo -u postgres psql -f /tmp/antoniocarlosribeiro.pgsql.dump $DB
sudo -u postgres psql -f /tmp/database.permissions.sql $DB
