.item.w4 { width:  240px; }

.item.h2 { height: 100px; }
.item.h3 { height: 130px; }
.item.h4 { height: 180px; }

.item.gigante {
    width: 180px;
    height: 180px;
}

.item:hover {
    background: #A2C;
    border-color: white;
    cursor: pointer;
}

#notification {
    position: fixed;
    background: black;
    opacity: 0;
    color: white;
    font-size: 16px;
    padding: 0.5em;
    right: 0;
    top: 0;
}