*******************************/
@font-face {
  font-family: 'GeorgiaBoldItalic';
  src: url('fonts/georgia_bold_italic-webfont.eot');
  src: url('fonts/georgia_bold_italic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/georgia_bold_italic-webfont.woff') format('woff'), url('fonts/georgia_bold_italic-webfont.ttf') format('truetype'), url('fonts/georgia_bold_italic-webfont.svg#GeorgiaBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GeorgiaItalic';
  src: url('fonts/georgia_italic-webfont.eot');
  src: url('fonts/georgia_italic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/georgia_italic-webfont.woff') format('woff'), url('fonts/georgia_italic-webfont.ttf') format('truetype'), url('fonts/georgia_italic-webfont.svg#GeorgiaItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GeorgiaBold';
  src: url('fonts/georgia_bold-webfont.eot');
  src: url('fonts/georgia_bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/georgia_bold-webfont.woff') format('woff'), url('fonts/georgia_bold-webfont.ttf') format('truetype'), url('fonts/georgia_bold-webfont.svg#GeorgiaBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GeorgiaRegular';
  src: url('fonts/georgia-webfont.eot');
  src: url('fonts/georgia-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/georgia-webfont.woff') format('woff'), url('fonts/georgia-webfont.ttf') format('truetype'), url('fonts/georgia-webfont.svg#GeorgiaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NovecentowideBold';
  src: url('fonts/novecentowide-bold-webfont.eot');
  src: url('fonts/novecentowide-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/novecentowide-bold-webfont.woff') format('woff'), url('fonts/novecentowide-bold-webfont.ttf') format('truetype'), url('fonts/novecentowide-bold-webfont.svg#NovecentowideBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NovecentowideBook';
  src: url('fonts/novecentowide-book-webfont.eot');
  src: url('fonts/novecentowide-book-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/novecentowide-book-webfont.woff') format('woff'), url('fonts/novecentowide-book-webfont.ttf') format('truetype'), url('fonts/novecentowide-book-webfont.svg#NovecentowideBook') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NovecentowideDemiBold';
  src: url('fonts/novecentowide-demibold-webfont.eot');
  src: url('fonts/novecentowide-demibold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/novecentowide-demibold-webfont.woff') format('woff'), url('fonts/novecentowide-demibold-webfont.ttf') format('truetype'), url('fonts/novecentowide-demibold-webfont.svg#NovecentowideDemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NovecentowideLight';
  src: url('fonts/novecentowide-light-webfont.eot');
  src: url('fonts/novecentowide-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/novecentowide-light-webfont.woff') format('woff'), url('fonts/novecentowide-light-webfont.ttf') format('truetype'), url('fonts/novecentowide-light-webfont.svg#NovecentowideLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NovecentowideNormal';
  src: url('fonts/novecentowide-normal-webfont.eot');
  src: url('fonts/novecentowide-normal-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/novecentowide-normal-webfont.woff') format('woff'), url('fonts/novecentowide-normal-webfont.ttf') format('truetype'), url('fonts/novecentowide-normal-webfont.svg#NovecentowideNormal') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NovecentowideMedium';
  src: url('fonts/novecentowide-medium-webfont.eot');
  src: url('fonts/novecentowide-medium-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/novecentowide-medium-webfont.woff') format('woff'), url('fonts/novecentowide-medium-webfont.ttf') format('truetype'), url('fonts/novecentowide-medium-webfont.svg#NovecentowideMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Less base classes and vars
******************************/
.text-font {
  color: #505050;
  font: 15px/23px Arial, Helvetica, sans-serif;
}
.text-font p {
  margin: 0 0 15px 0;
}
.hover-color {
  color: #cccccc;
}
.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
.hide_text {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
}
.right {
  float: right;
}
.left {
  float: left;
}
.common-padding {
  padding: 0 37px;
}

/* Common for every project styles.
 * Resetting styles, adding blog-style.
*******************************/
/* Reset styles
*******************************/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/*
 * Add display for embedded HTML5 elements
 * Addresses display not defined in IE6/7/8/9 & FF3
 */
audio[controls],
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
html {
  overflow-y: scroll;
  /* 1 */

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* 2 */

  -webkit-text-size-adjust: 100%;
  /* 3 */

  -ms-text-size-adjust: 100%;
}
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
li,
ol,
a,
em,
img,
strong,
fieldset,
form,
label,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
}
:focus {
  outline: 0;
}
img {
  vertical-align: middle;
  outline: 0;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
}
/* Body & forms
*******************************/
body {
  background: #000000;
  color: #313131;
  text-align: left;
  font: normal 13px/1.2 sans-serif;
}

/* Links
*******************************/
a:link,
a:visited,
a:hover,
a:active {
  color: #726C63;
  text-decoration: none;
}
a:hover {
  color: #000000;
  text-decoration: none;
}

/* Clearfix
*******************************/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* close commented backslash hack */
.clear {
  clear: both;
  display: block;
  height: 0;
}
/* Headers
*******************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  font: normal 1em/1.2 sans-serif;
  margin-bottom: .5em;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
/* Text elements
*******************************/
p {
  margin: 0 0 1.5em 0;
  text-align: left;
  line-height: 1.5;
}
p.last {
  margin-bottom: 0;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}


/* Wordpress Typo
*******************************/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
  width: auto;
  max-width: 100%;
  /* When images are too wide for containing element, force them to fit. */

  height: auto;
  /* Override height to match resized width for correct aspect ratio. */

}
.alignleft,
img.alignleft {
  display: inline;
  float: left;
  margin-right: 1em;
}
.alignright,
img.alignright {
  display: inline;
  float: right;
  margin-left: 1em;
}
.aligncenter,
img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
  margin-bottom: 1em;
}
.wp-caption {
  background: #f1f1f1;
  line-height: 18px;
  margin-bottom: 20px;
  text-align: center;
}
.wp-caption img {
  margin: 5px 5px 0;
}
.wp-caption p.wp-caption-text {
  color: #888;
  font-size: 12px;
  margin: 5px;
}
.wp-smiley {
  margin: 0;
}

/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 *
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 * That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.
 *
 * Version: 1.3.4 (11/11/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1104;
  display: none;
}
#fancybox-loading div {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 480px;
  background-image: url('img/fancybox.png');
}
#fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
  display: none;
}
#fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  overflow: auto;
  display: none;
}
#fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 1101;
  outline: none;
  display: none;
}
#fancybox-outer {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
}
#fancybox-content {
  width: 0;
  height: 0;
  padding: 0;
  outline: none;
  position: relative;
  overflow: hidden;
  z-index: 1102;
  border: 0px solid #fff;
}
#fancybox-hide-sel-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1101;
}
#fancybox-close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background: transparent url('img/fancybox.png') -40px 0px;
  cursor: pointer;
  z-index: 1103;
  display: none;
}
#fancybox-error {
  color: #444;
  font: normal 12px/20px Arial;
  padding: 14px;
  margin: 0;
}
#fancybox-img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  line-height: 0;
  vertical-align: top;
}
#fancybox-frame {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}
#fancybox-left,
#fancybox-right {
  position: absolute;
  bottom: 0px;
  height: 100%;
  width: 35%;
  cursor: pointer;
  outline: none;
  background: transparent url('blank.gif');
  z-index: 1102;
  display: none;
}
#fancybox-left {
  left: 0px;
}
#fancybox-right {
  right: 0px;
}
#fancybox-left-ico,
#fancybox-right-ico {
  position: absolute;
  top: 50%;
  left: -9999px;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  cursor: pointer;
  z-index: 1102;
  display: block;
}
#fancybox-left-ico {
  background-image: url('img/fancybox.png');
  background-position: -40px -30px;
}
#fancybox-right-ico {
  background-image: url('img/fancybox.png');
  background-position: -40px -60px;
}
#fancybox-left:hover,
#fancybox-right:hover {
  visibility: visible;
  /* IE6 */

}
#fancybox-left:hover span {
  left: 20px;
}
#fancybox-right:hover span {
  left: auto;
  right: 20px;
}
.fancybox-bg {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  width: 20px;
  height: 20px;
  z-index: 1001;
}
#fancybox-bg-n {
  top: -20px;
  left: 0;
  width: 100%;
  background-image: url('img/fancybox-x.png');
}
#fancybox-bg-ne {
  top: -20px;
  right: -20px;
  background-image: url('img/fancybox.png');
  background-position: -40px -162px;
}
#fancybox-bg-e {
  top: 0;
  right: -20px;
  height: 100%;
  background-image: url('img/fancybox-y.png');
  background-position: -20px 0px;
}
#fancybox-bg-se {
  bottom: -20px;
  right: -20px;
  background-image: url('img/fancybox.png');
  background-position: -40px -182px;
}
#fancybox-bg-s {
  bottom: -20px;
  left: 0;
  width: 100%;
  background-image: url('img/fancybox-x.png');
  background-position: 0px -20px;
}
#fancybox-bg-sw {
  bottom: -20px;
  left: -20px;
  background-image: url('img/fancybox.png');
  background-position: -40px -142px;
}
#fancybox-bg-w {
  top: 0;
  left: -20px;
  height: 100%;
  background-image: url('img/fancybox-y.png');
}
#fancybox-bg-nw {
  top: -20px;
  left: -20px;
  background-image: url('img/fancybox.png');
  background-position: -40px -122px;
}
#fancybox-title {
  font-family: Helvetica;
  font-size: 12px;
  z-index: 1102;
}
.fancybox-title-inside {
  padding-bottom: 10px;
  text-align: center;
  color: #333;
  background: #fff;
  position: relative;
}
.fancybox-title-outside {
  padding-top: 10px;
  color: #fff;
}
.fancybox-title-over {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #FFF;
  text-align: left;
}
#fancybox-title-over {
  padding: 10px;
  background-image: url('img/fancy_title_over.png');
  display: block;
}
.fancybox-title-float {
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 32px;
}
#fancybox-title-float-wrap {
  border: none;
  border-collapse: collapse;
  width: auto;
}
#fancybox-title-float-wrap td {
  border: none;
  white-space: nowrap;
}
#fancybox-title-float-left {
  padding: 0 0 0 15px;
  background: url('img/fancybox.png') -40px -90px no-repeat;
}
#fancybox-title-float-main {
  color: #FFF;
  line-height: 29px;
  font-weight: bold;
  padding: 0 0 3px 0;
  background: url('img/fancybox-x.png') 0px -40px;
}
#fancybox-title-float-right {
  padding: 0 0 0 15px;
  background: url('img/fancybox.png') -55px -90px no-repeat;
}
/* IE6 */
.fancybox-ie6 #fancybox-close {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_close.png', sizingMethod='scale');
}
.fancybox-ie6 #fancybox-left-ico {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_left.png', sizingMethod='scale');
}
.fancybox-ie6 #fancybox-right-ico {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_right.png', sizingMethod='scale');
}
.fancybox-ie6 #fancybox-title-over {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_over.png', sizingMethod='scale');
  zoom: 1;
}
.fancybox-ie6 #fancybox-title-float-left {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_left.png', sizingMethod='scale');
}
.fancybox-ie6 #fancybox-title-float-main {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_main.png', sizingMethod='scale');
}
.fancybox-ie6 #fancybox-title-float-right {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_right.png', sizingMethod='scale');
}
.fancybox-ie6 #fancybox-bg-w,
.fancybox-ie6 #fancybox-bg-e,
.fancybox-ie6 #fancybox-left,
.fancybox-ie6 #fancybox-right,
#fancybox-hide-sel-frame {
  height: "expression(this.parentNode.clientHeight + 'px)";
}
#fancybox-loading.fancybox-ie6 {
  position: absolute;
  margin-top: 0;
  top: "expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px')";
}
#fancybox-loading.fancybox-ie6 div {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_loading.png', sizingMethod='scale');
}
/* IE6, IE7, IE8 */
.fancybox-ie .fancybox-bg {
  background: transparent !important;
}
.fancybox-ie #fancybox-bg-n {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_n.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-ne {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_ne.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-e {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_e.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-se {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_se.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-s {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_s.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-sw {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_sw.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-w {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_w.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-nw {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_nw.png', sizingMethod='scale');
}

/* Main Containers, Wrappers
*******************************/
body {
  /*background: url(img/bg.png);*/
}

#wrapper {
  margin: 0 auto;
}
/* Pagination
*******************************/
.pagination {
  display: none;
}
/* Social block
*******************************/
.links-pane {
  min-height: 16px;
  margin: 6px 0;
}
.links-pane .social-icons {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
.links-pane .social-icons li {
  margin-right: 5px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
.links-pane .social-icons li a {
  display: block;
  text-indent: -999px;
  overflow: hidden;
  height: 16px;
  width: 16px;
  background: url(img/social-icons.png) 0 100%;
}
.links-pane .social-icons .twitter a {
  width: 21px;
  background-position: -16px 100%;
}
.links-pane .social-icons .google-plus a {
  width: 17px;
  background-position: -37px 100%;
}
.links-pane .social-icons .vimeo a {
  width: 16px;
  background-position: -54px 100%;
}
.links-pane .social-icons .youtube a {
  width: 17px;
  background-position: -70px 100%;
}
.links-pane .social-icons .feed a {
  width: 16px;
  background-position: -87px 100%;
}
.links-pane .social-icons .feed a {
  width: 16px;
  background-position: -87px 100%;
}
.links-pane .social-icons .pinterest a {
  width: 16px;
  background-position: -103px 100%;
}
.links-pane .social-icons .whosay a {
  width: 16px;
  background-position: -119px 100%;
}
.links-pane .social-icons .instagram a {
  width: 16px;
  background-position: -135px 100%;
}
.links-pane .social-icons .okdothis a {
  width: 16px;
  background-position: -151px 100%;
}
.links-pane .social-icons .facebook a:hover {
  background-position: 0 0;
}
.links-pane .social-icons .twitter a:hover {
  background-position: -16px 0;
}
.links-pane .social-icons .google-plus a:hover {
  background-position: -37px 0;
}
.links-pane .social-icons .vimeo a:hover {
  background-position: -54px 0;
}
.links-pane .social-icons .youtube a:hover {
  background-position: -70px 0;
}
.links-pane .social-icons .feed a:hover {
  background-position: -87px 0;
}
.links-pane .social-icons .pinterest a:hover {
  width: 16px;
  background-position: -103px 0;
}
.links-pane .social-icons .whosay a:hover {
  width: 16px;
  background-position: -119px 0;
}
.links-pane .social-icons .instagram a:hover {
  width: 16px;
  background-position: -135px 0;
}
.links-pane .social-icons .okdothis a:hover {
  width: 16px;
  background-position: -151px 0;
}
.links-pane .read-more {
  font: 10px/16px 'NovecentowideMedium';
  color: #444;
  float: right;
}
.links-pane .read-more:hover {
  color: #cccccc;
}

/* Floating header
*******************************/
#wrapper.floating #top {
  display: block;
  height: 65px;
  background: #fff;
  margin-bottom: 88px;
}
#wrapper.floating > header {
  min-height: 65px;
  position: fixed;
  width: 100%;
  z-index: 15;
  top: 0;
}
#wrapper.floating .categories-block {
  position: fixed;
  top: 60px;
  width: 100%;
  z-index: 10;
  margin: 0 0 0 -37px;
}
#wrapper.floating .categories-block .padding-wrap {
  padding: 0 37px;
}

/* Header
*******************************/
header .padding-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 0 37px;
}
header .padding-container h1 {
  float: left;
  margin: 0 76px 0 0;
}
header .padding-container h1 a {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  background: url(img/logo.png) 50% 50% no-repeat;
  width: 264px;
  height: 65px;
}
header .padding-container h1 a:hover {
  opacity: 0.8;
}
header .padding-container nav {
  min-height: 11px;
  float: left;
  padding: 25px 0;
}
header .padding-container nav ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  position: relative;
  font: 10px/11px 'NovecentowideDemiBold';
  letter-spacing: 2px;
  color: #202020;
}
header .padding-container nav ul li a {
  color: #202020;
}
header .padding-container nav ul li a.active,
header .padding-container nav ul li a:hover {
  color: #cccccc;
}
header .padding-container nav ul li.separator {
  width: 5px;
  padding: 0 16px;
  color: #a5a5a5;
}
header .padding-container nav ul li > a.top {
  color: #fff;
  font: 15px/16px 'FontinSmallCapsRegular';
  text-transform: capitalize;
  margin: 0;
  display: block;
}
header .padding-container nav ul li > a.top:hover,
header .padding-container nav ul li > a.selected {
  text-decoration: underline;
}
header .padding-container nav ul li > span {
  color: #fff;
  display: block;
  font: 15px/16px 'FontinSmallCapsRegular';
  text-transform: capitalize;
  margin: 0 auto;
}
header .padding-container nav ul ul {
  display: none;
}
header .padding-container .links-pane {
  float: right;
  height: 16px;
  padding: 24px 0;
  margin: 0 0 1px;
}
header.bottom-margin {
  margin-bottom: 10px;
}

/* Homepage Pictures Block
*******************************/
.homepage-nav-preload {
  visibility: hidden;
}
.menu-homepage-dropdown-menu-container {
  margin: 20px 0 0;
  text-align: center;
}
.menu-homepage-dropdown-menu-container li {
  min-width: 160px;
  width: 22%;
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  margin: 10px;
}
.menu-homepage-dropdown-menu-container li#menu-item-3200 a {
  background: url(img/first-element-image.jpg) 50% 0 no-repeat;
}
.menu-homepage-dropdown-menu-container li#menu-item-3201 a {
  background: url(img/second-element-image.jpg) 50% 0 no-repeat;
}
.menu-homepage-dropdown-menu-container li#menu-item-22 a {
  background: url(img/third-element-image.jpg) 50% 0 no-repeat;
}
.menu-homepage-dropdown-menu-container li#menu-item-2994 a {
  background: url(img/fourth-element-image.jpg) 50% 0 no-repeat;
}
.menu-homepage-dropdown-menu-container li a {
  height: 192px;
  display: block;
}
.menu-homepage-dropdown-menu-container li a img {
  max-width: 100%;
  height: auto;
}
.menu-homepage-dropdown-menu-container li a .about {
  display: none;
}
.menu-homepage-dropdown-menu-container li a > h4 {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  margin-top: -15px;
  font: 30px 'NovecentowideMedium';
  text-transform: uppercase;
  color: #fff;
}
.dropdown {
  display: none;
  margin-top: -10px;
  padding: 10px 0 0;
  background: url(img/dropdown.png) 293px 0 no-repeat;
}
.dropdown .menu-homepage-dropdown-menu-container {
  margin: 0 37px;
  background: #202020;
  padding-bottom: 4px;
}
.dropdown .menu-homepage-dropdown-menu-container li {
  margin: 26px 10px;
}
.dropdown .menu-homepage-dropdown-menu-container li a > h4 {
  display: block;
  font-size: 18px;
}
.dropdown .menu-homepage-dropdown-menu-container li a {
  display: block;
}
.dropdown .menu-homepage-dropdown-menu-container li a .about {
  padding: 10px;
  background: #202020;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  font: 11px/19px Arial;
  color: #fff;
  text-align: left;
}
.dropdown .menu-homepage-dropdown-menu-container li a .about h4 {
  font: bold 18px 'Helvetica';
  padding: 11px 0;
  color: #fff;
  border-bottom: 1px dashed #b6b6b6;
}
.dropdown .menu-homepage-dropdown-menu-container li a .about span {
  display: block;
  text-transform: uppercase;
  text-align: right;
  font: bold 9px/12px Arial;
  color: #a0a0a0;
}
.dropdown .menu-homepage-dropdown-menu-container li a .about span:hover {
  color: #cccccc;
}
.dropdown .menu-homepage-dropdown-menu-container li a:hover .about {
  display: block;
}

/* Blog Index
************************/
.categories-block {
  text-align: left;
  line-height: 35px;
  padding-top: 23px;
  padding-bottom: 10px;
  min-height: 45px;
}

.categories-block li {
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  behavior: url(/keriat/jeremy-cowart/PIE.htc);
  padding: 7px;
  margin-right: 5px;
  background: #fff;
  font: 11px/12px 'NovecentowideMedium';
  color: black;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  cursor: pointer;
  cursor: hand;
}


.categories-block li a {
  color: #202020;
}
.categories-block li a.active,
.categories-block li a:hover {
  color: #c9c4cb;
}
.categories-block .separator {
  display: none;
  padding: 0 10px;
}
.categories-block .switch-categories-block {
  font: 12px 'NovecentowideDemiBold';
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  behavior: url(/keriat/jeremy-cowart/PIE.htc);
  margin: 5px 10px;
  background: #fff;
  padding: 10px 0;
  text-align: center;
  display: none;
}
.categories-block .right-button {
  float: right;
  font: 15px/26px 'NovecentowideDemiBold';
  color: #666;
}
.categories-block .right-button:hover {
  color: #CCC;
}
.categories-block li.selected {
    background: #3c3f41;
    color: white;
}

.page-container .categories-block {
  padding: 0 37px;
  padding-top: 23px;
  padding-bottom: 10px;
}

/* Blog Post style
************************/
.masonry-item-style {
  float: left;
  max-width: 340px;
  min-width: 200px;
  margin: 0 14px 14px 0;
  padding: 24px 22px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  behavior: url(/keriat/jeremy-cowart/PIE.htc);
}
.masonry-item-style .header {
  color: #202020;
  font: italic 12px Georgia;
  border-bottom: 1px dashed #d6d6d6;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.masonry-item-style .header h3 {
  font: bold 18px 'Helvetica';
}
.masonry-item-style .header h3 a {
  color: #202020;
}
.masonry-item-style .header span {
  color: #b3b3b3;
}
.masonry-item-style .header a {
  color: #202020;
}
.masonry-item-style .header a:hover {
  color: #cccccc;
}
.masonry-item-style img,
.masonry-item-style object,
.masonry-item-style iframe,
.masonry-item-style embed {
  display: block;
  width: 100%;
  height: auto;
  margin: 10px auto;
}
.masonry-item-style img.wp-smiley {
  display: inline;
  width: auto;
  margin: 0;
}
.masonry-item-style .anons {
  font: 13px/20px sans-serif, arial;
  color: #a0a0a0;
  border-bottom: 1px dashed #d6d6d6;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.masonry-item-style .meta a {
  color: #202020;
  display: block;
  font: 8px/16px 'NovecentowideMedium';
  letter-spacing: 1pt;
}
.masonry-item-style .meta a span {
  width: 14px;
  height: 16px;
  background: url(img/post-navigation.png) 0 0 no-repeat;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
.masonry-item-style .meta a:hover {
  color: #cccccc;
}
.masonry-item-style .meta .comments-link {
  color: #202020;
  float: left;
}
.masonry-item-style .meta .comments-link:before {
  content: " ";
  width: 14px;
  height: 16px;
  background: url(img/post-navigation.png) 0 0 no-repeat;
  display: inline-block;
  vertical-align: top;
}
.masonry-item-style .meta .comments-link span {
  background: none;
  width: auto !important;
}
.masonry-item-style .meta .comments-link:hover:before {
  background-position: 100% 0;
}
.masonry-item-style .meta .more-link:hover span {
  width: 14px;
  height: 16px;
  background: url(img/post-navigation.png) 100% 100% no-repeat;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
.masonry-item-style .meta .more-link {
  float: right;
}
.masonry-item-style .meta .more-link span {
  width: 14px;
  height: 16px;
  background: url(img/post-navigation.png) 0 100% no-repeat;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
.masonry {
  -webkit-transition-property: height width all;
  -moz-transition-property: height width all;
  -o-transition-property: height width all;
  transition-property: height width all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-property: left right top;
  -moz-transition-property: left right top;
  -o-transition-property: left right top;
  transition-property: left right top;
}
.masonry .masonry-brick.type-gear .content {
  display: block;
}
.masonry article {
  display: none;
  float: left;
  max-width: 340px;
  min-width: 200px;
  margin: 0 14px 14px 0;
  padding: 24px 22px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  behavior: url(/keriat/jeremy-cowart/PIE.htc);
}
.masonry article .header {
  color: #202020;
  font: italic 12px Georgia;
  border-bottom: 1px dashed #d6d6d6;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.masonry article .header h3 {
  font: bold 18px 'Helvetica';
}
.masonry article .header h3 a {
  color: #202020;
}
.masonry article .header span {
  color: #b3b3b3;
}
.masonry article .header a {
  color: #202020;
}
.masonry article .header a:hover {
  color: #cccccc;
}
.masonry article img,
.masonry article object,
.masonry article iframe,
.masonry article embed {
  display: block;
  width: 100%;
  height: auto;
  margin: 10px auto;
}
.masonry article img.wp-smiley {
  display: inline;
  width: auto;
  margin: 0;
}
.masonry article .anons {
  font: 13px/20px sans-serif, arial;
  color: #a0a0a0;
  border-bottom: 1px dashed #d6d6d6;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.masonry article .meta a {
  color: #202020;
  display: block;
  font: 8px/16px 'NovecentowideMedium';
  letter-spacing: 1pt;
}
.masonry article .meta a span {
  width: 14px;
  height: 16px;
  background: url(img/post-navigation.png) 0 0 no-repeat;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
.masonry article .meta a:hover {
  color: #cccccc;
}
.masonry article .meta .comments-link {
  color: #202020;
  float: left;
}
.masonry article .meta .comments-link:before {
  content: " ";
  width: 14px;
  height: 16px;
  background: url(img/post-navigation.png) 0 0 no-repeat;
  display: inline-block;
  vertical-align: top;
}
.masonry article .meta .comments-link span {
  background: none;
  width: auto !important;
}
.masonry article .meta .comments-link:hover:before {
  background-position: 100% 0;
}
.masonry article .meta .more-link:hover span {
  width: 14px;
  height: 16px;
  background: url(img/post-navigation.png) 100% 100% no-repeat;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
.masonry article .meta .more-link {
  float: right;
}
.masonry article .meta .more-link span {
  width: 14px;
  height: 16px;
  background: url(img/post-navigation.png) 0 100% no-repeat;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}

.masonry article.wide-2col {
  min-width: 220px ;
  max-width: 694px;
}
.post-color {
  color: #202020;
}
#gear,
#blog {
  padding: 0 37px;
}
/* Infinite Scroll loader */
#infscr-loading {
  text-align: center;
  z-index: 100;
  position: fixed;
  left: 50%;
  margin-left: -100px;
  bottom: 40px;
  width: 200px;
  padding: 10px;
  background: #000;
  opacity: 0.8;
  color: #FFF;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#scroll-to-top {
  display: none;
  width: 83px;
  height: 39px;
  background: #fff;
  position: fixed;
  right: 37px;
  bottom: 60px;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  behavior: url(/keriat/jeremy-cowart/PIE.htc);
  padding: 13px 0;
  text-align: center;
  font: 14px/19px 'NovecentowideMedium';
  color: #202020;
}
#scroll-to-top:hover {
  opacity: 0.8;
}

/* Hover Style
************************/
.calc-hover article .toggle {
  position: relative;
  margin: -24px -22px;
  display: block;
}
.calc-hover article .toggle img {
  margin: 0;
  width: 100%;
  height: auto;
}
.calc-hover article .toggle .hover {
  -webkit-transition-property: background all all;
  -moz-transition-property: background all all;
  -o-transition-property: background all all;
  transition-property: background all all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: easy-in;
  -moz-transition-timing-function: easy-in;
  -o-transition-timing-function: easy-in;
  transition-timing-function: easy-in;
  opacity: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  heigh: 100%;
  top: 0;
}
.calc-hover article:hover .toggle .hover {
  opacity: 0.9;
}
/* Portfolio Archive
************************/
.calc-hover article .hover .centered {
  margin: 0 auto 0;
  bottom: 20px;
  width: 100%;
  position: absolute;
}
.calc-hover article .hover .centered h3 {
  margin: 0 auto;
  text-align: center;
  font: 20px 'NovecentowideMedium';
  color: #fff;
  text-transform: uppercase;
}
.calc-hover article .hover .centered h4 {
  text-align: center;
  color: #fff;
  margin: 0 auto;
  font: 12px/40px 'NovecentowideMedium';
}
.calc-hover article .hover .centered a {
  color: #fff;
}
.calc-hover article .hover .centered a:hover {
  color: #cccccc;
}
.calc-hover article .hover address.author {
  position: absolute;
  bottom: 20px;
  font: italic 12px Georgia;
  color: #fff;
  text-align: center;
  display: block;
  width: 100%;
}

/* Portfolio Album
************************/
.animation-image {
  position: absolute;
  display: block;
}
#portfolio-album {
  margin-top: 20px;
  padding: 0 37px;
}

#portfolio-album .nolookbook-header {
  margin-bottom: 20px;
}

#portfolio-album .nolookbook-header h2 {
  font: bold 24px 'Helvetica' !important;
  color: #202020;
}
#portfolio-album .nolookbook-header h3 {
  float: right;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  behavior: url(/keriat/jeremy-cowart/PIE.htc);
  background: #fff;
  padding: 10px 20px;
  font: 14px 'NovecentowideDemiBold';
}
#portfolio-album .nolookbook-header h3 a {
  color: #202020;
}
#portfolio-album .nolookbook-header h3 a:hover {
  color: #cccccc;
}
#portfolio-album.protected .page-block {
  margin: 0;
}
#portfolio-album.protected .page-block .story {
  color: #505050;
  font: 15px/23px Arial, Helvetica, sans-serif;
}
#portfolio-album.protected .page-block .story p {
  margin: 0 0 15px 0;
}
#portfolio-album.protected .page-block .story br {
  display: none;
}
#portfolio-album.protected .page-block .story input[type="password"] {
  display: inline-block;
  height: 24px;
  width: 200px;
  background-color: #fff;
  border: 1px solid #999;
  line-height: 1;
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  text-align: center;
  padding: 0;
  margin: 0 3px;
}
#portfolio-album.protected .page-block .story input[type="submit"] {
  display: inline-block;
  height: 26px;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  text-align: center;
  font: 11px 'NovecentowideLight';
  line-height: 1;
  color: #00ADEF;
  width: 60px;
  margin: 0 3px;
  position: absolute;
}
#portfolio-album.protected .page-block .story input[type="submit"]:hover {
  color: #666666;
}
#portfolio-album section.masonry {
  margin-left: 380px;
}
#portfolio-album section.masonry .meta.social-hover {
  -webkit-transition-property: opacity all all;
  -moz-transition-property: opacity all all;
  -o-transition-property: opacity all all;
  transition-property: opacity all all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: easy-in;
  -moz-transition-timing-function: easy-in;
  -o-transition-timing-function: easy-in;
  transition-timing-function: easy-in;
  opacity: 0;
  position: absolute;
  bottom: 60px;
  z-index: 100;
  left: 50%;
  margin-left: -45px;
}
#portfolio-album section.masonry .meta.social-hover .social-icon {
  background-image: url(img/social-icons-portfolio.png);
}
#portfolio-album section.masonry article:hover .meta.social-hover {
  opacity: 1;
}
#portfolio-album section.masonry.nolookbook {
  margin-left: 0;
}
#portfolio-album .image-switch {
  width: 34px;
  height: 33px;
  position: absolute;
  text-indent: -999px;
  overflow: hidden;
  background: url(img/switch.png);
  bottom: 10px;
  right: 5px;
}
#portfolio-album .image-switch:hover {
  opacity: .8;
}
#portfolio-album .image-switch.remove {
  background-position: 0 100%;
}
#portfolio-album .image-switch.zoom {
  width: 33px;
  background-image: url(img/zoom.png);
}
#portfolio-album aside {
  float: left;
  width: 354px;
}
#portfolio-album aside .header {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  behavior: url(/keriat/jeremy-cowart/PIE.htc);
  background: #fff;
  margin-left: -34px;
  height: 192px;
  padding: 6px 16px 0 34px;
}
#portfolio-album aside .header h3 {
  margin: 20px 0;
  font: bold 18px 'Helvetica';
  color: #202020;
}
#portfolio-album aside .header .how-to p {
  font: 11px Sans-Serif;
  color: #a0a0a0;
  margin-bottom: 18px;
}
#portfolio-album aside .header .download {
  opacity: 0;
  -webkit-transition-property: opacity all all;
  -moz-transition-property: opacity all all;
  -o-transition-property: opacity all all;
  transition-property: opacity all all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: easy-in;
  -moz-transition-timing-function: easy-in;
  -o-transition-timing-function: easy-in;
  transition-timing-function: easy-in;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  margin: 0 0 28px;
  font: bold 18px/20px Sans-serif, Arial;
  text-transform: uppercase;
  color: #a0a0a0;
}
#portfolio-album aside .header .download span {
  margin: 2px 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  background: url(img/arrow.png);
  width: 11px;
  height: 16px;
}
#portfolio-album aside .header .download:hover,
#portfolio-album aside .header .download:hover span {
  opacity: .8;
}
#portfolio-album aside .copyright {
  margin: 16px 0;
  font: 11px Sans-Serif, Arial;
  color: #a0a0a0;
}
#portfolio-album aside #selected-items {
  margin: 0 -10px;
}
#portfolio-album aside #selected-items li {
  height: 124px;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  width: 164px;
  margin: 20px 10px 0;
  position: relative;
}
#portfolio-album aside #selected-items li .toggle img {
  vertical-align: middle;
  line-height: 124px;
  width: 100%;
  height: auto;
}
#portfolio-album aside #selected-items li .toggle .hover {
  -webkit-transition-property: opacity all all;
  -moz-transition-property: opacity all all;
  -o-transition-property: opacity all all;
  transition-property: opacity all all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: easy-in;
  -moz-transition-timing-function: easy-in;
  -o-transition-timing-function: easy-in;
  transition-timing-function: easy-in;
  opacity: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  width: 100% !important;
  height: 124px !important;
  top: 0;
}
#portfolio-album aside #selected-items li .toggle .hover .image-switch {
  background-position: 0 100%;
}
#portfolio-album aside #selected-items li:hover .hover {
  opacity: 1;
}

/* Social Block
*******************************/
.meta .social-icon {
  display: block;
  text-indent: -999px;
  overflow: hidden;
  height: 14px;
  width: 14px;
  float: right;
  margin-left: 5px;
  background: url(img/social-icons-small.png) 0 100%;
}
.meta .social-icon.facebook {
  background-position: -88px 100%;
}
.meta .social-icon.twitter {
  width: 18px;
  background-position: -102px 100%;
}
.meta .social-icon.google {
  background-position: -75px 100%;
}
.meta .social-icon.facebook:hover {
  background-position: -88px 0;
}
.meta .social-icon.twitter:hover {
  width: 18px;
  background-position: -102px 0;
}
.meta .social-icon.google:hover {
  background-position: -75px 0;
}
.meta .social-icon.pinterest:hover {
  background-position: 0 0;
}
.meta-left .meta-like {
  float: left;
  margin: 0 0 0 5px;
  height: 20px;
  max-width: 120px;
  padding-right: 5px;
}
.meta-left .social-icon {
  float: left;
}

/* Footer
*******************************/
html,
body {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
}
#wrapper {
  min-height: 100%;
}
#wrapper #content {
  padding-bottom: 36px;
}
#wrapper #content.with-open-dropdown {
  padding-top: 130px;
}
#wrapper #content.with-open-dropdown .categories-block {
  top: 236px;
}
footer {
  margin-top: -36px;
  position: relative;
  width: 100%;
  bottom: 0;
  clear: both;
  background: #fff;
  height: 36px;
  font: 10px/36px 'GeorgiaBoldItalic';
  color: #8f8f8f;
}
footer .bottom-footer {
  padding: 0 37px;
}
footer a {
  color: #8f8f8f;
}
footer a:hover {
  color: #cccccc;
}
footer .developed {
  float: left;
}

/* ISOTOPE STYLING */
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
@media only screen and (min-width: 1010px) and (max-width: 1090px) {
  #wrapper.floating header .padding-container .links-pane {
    padding: 24px 0 !important;
    float: right !important;
  }
}
@media only screen and (max-width: 1080px) {
  #wrapper.floating #top {
    height: 90px !important;
    margin-bottom: 98px !important;
  }
  #wrapper.floating header {
    min-height: 55px !important;
  }
  #wrapper.floating header .padding-container nav {
    padding: 25px 0 0;
    white-space: nowrap;
  }
  #wrapper.floating header .padding-container .links-pane {
    float: left;
    padding: 10px 0 50px;
  }
  #wrapper.floating .categories-block {
    top: 104px;
    z-index: 20;
  }
}
@media only screen and (min-width: 970px) and (max-width: 1080px) {
  
}
@media only screen and (max-width: 970px) {
  .menu-homepage-dropdown-menu-container li a > h4 {
    font-size: 22px;
  }
  #fullScreenHome a.title {
    font-size: 50px;
  }
}
@media only screen and (min-width: 760px) and (max-width: 970px) {
  #wrapper.floating header .padding-container nav {
    float: none;
  }
  #wrapper.floating #top {
    margin-bottom: 118px !important;
  }
}
@media only screen and (max-width: 934px) {
  #contact .wpcf7 form p,
  #contact .contact form p {
    max-width: 100%;
  }
  #contact .wpcf7 form .inputs,
  #contact .contact form .inputs {
    width: 100%;
  }
  #contact .wpcf7 form .area,
  #contact .contact form .area {
    width: 100%;
    float: left !important;
    margin: 14px 0 0;
  }
}
@media only screen and (max-width: 760px) {
  .menu-homepage-dropdown-menu-container li a > h4 {
    font-size: 18px;
  }
  #fullScreenHome a.title {
    font-size: 40px;
  }
  #single-post article .comments .commentlist li.comment .comment-main-block {
    max-width: 100%;
    display: block !important;
    margin-top: 10px;
    margin-right: 30px !important;
  }
  #wrapper.floating #top {
    height: 120px !important;
    display: none;
  }
  #wrapper.floating header {
    position: static;
  }
  #wrapper.floating header .padding-container .links-pane {
    padding-bottom: 10px;
  }
  #wrapper.floating header .padding-container nav {
    width: 100%;
  }
  #wrapper.floating header .padding-container nav ul li.separator {
    padding: 0 5px;
  }
  #wrapper.floating .categories-block {
    position: static;
    padding-top: 0;
  }
  .calc-hover .hover {
    display: none;
  }
}
@media only screen and (min-width: 480px) and (max-width: 760px) {
  #single-post aside {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  #single-post aside .side-categories,
  #single-post aside .author,
  #single-post aside .banners {
    display: none;
  }
  #single-post article {
    clear: both;
    margin: 0 auto;
  }
  #single-post article .social-block li {
    text-align: left;
    margin: 5px !important;
    width: 45% !important;
    padding: 0;
    border: none;
  }
  #single-post article .social-block li iframe {
    margin: 0;
  }
  #wrapper {
    position: relative;
  }
  .modal {
    display: block;
    width: 280px;
    position: absolute;
    margin-left: -140px;
    left: 46%;
    top: 25px;
    padding: 15px 4%;
    background: #ffffff;
    /* Old browsers */
  
    background: -moz-linear-gradient(top, #ffffff 53%, #fcfcfc 100%);
    /* FF3.6+ */
  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(53%, #ffffff), color-stop(100%, #fcfcfc));
    /* Chrome,Safari4+ */
  
    background: -webkit-linear-gradient(top, #ffffff 53%, #fcfcfc 100%);
    /* Chrome10+,Safari5.1+ */
  
    background: -o-linear-gradient(top, #ffffff 53%, #fcfcfc 100%);
    /* Opera 11.10+ */
  
    background: -ms-linear-gradient(top, #ffffff 53%, #fcfcfc 100%);
    /* IE10+ */
  
    background: linear-gradient(to bottom, #ffffff 53%, #fcfcfc 100%);
    /* W3C */
  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fcfcfc', GradientType=0);
    /* IE6-9 */
  
    border-radius: 3px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    z-index: 110;
    margin-top: 5px;
  }
  #overlay {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    z-index: 100;
  }
  footer {
    height: 172px;
  }
  footer .subscribe-block {
    float: right;
    margin: 5px auto;
    position: relative;
  }
  footer .subscribe-block h2 {
    width: 100%;
    margin: 0 auto 5px;
    text-align: center;
    position: static;
  }
  footer .subscribe-block input[type="text"],
  footer .subscribe-block input[type="email"] {
    margin: 0 auto 5px;
    float: none;
    position: static;
  }
  footer .subscribe-block input[type="submit"] {
    margin: 0 auto;
    width: auto;
    display: block;
    background: #2c9dec;
    padding: 8px 15px;
    font-weight: bold;
    color: #fff;
    border-radius: 4px;
    border: none;
    width: 80px;
    position: static;
  }
}
@media only screen and (max-width: 546px) {
  #gear #gearcats .gearcat {
    display: block;
    float: left;
    width: 80%;
    height: auto;
    margin: 0 0 18px 0;
    padding: 5% 10%;
  }
  footer {
    height: 172px;
  }
  footer .subscribe-block {
    float: right;
    margin: 5px auto;
    position: relative;
  }
  footer .subscribe-block h2 {
    width: 100%;
    margin: 0 auto 5px;
    text-align: center;
    position: static;
  }
  footer .subscribe-block input[type="text"],
  footer .subscribe-block input[type="email"] {
    margin: 0 auto 5px;
    float: none;
    position: static;
  }
  footer .subscribe-block input[type="submit"] {
    margin: 0 auto;
    width: auto;
    display: block;
    background: #2c9dec;
    padding: 8px 15px;
    font-weight: bold;
    color: #fff;
    border-radius: 4px;
    border: none;
    width: 80px;
    position: static;
  }
}
@media only screen and (max-width: 470px) {
  #mobile-sidebar aside {
    margin-top: 12px;
    display: block !important;
  }
  #wrapper.floating #top {
    display: none;
  }
  #wrapper.floating header {
    position: static;
    z-index: 10;
  }
  #wrapper.floating .categories-block {
    position: static;
    padding-top: 0;
    width: auto;
  }
  .calc-hover .hover {
    display: none;
  }
  header .padding-container h1 {
    display: block;
    float: none;
    margin: 0;
  }
  header .padding-container h1 a {
    margin: 0 auto;
  }
  header .padding-container nav {
    float: none;
    padding: 10px 0;
    display: block;
  }
  header .padding-container nav ul li {
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    behavior: url(/keriat/jeremy-cowart/PIE.htc);
    margin: 5px 10px;
    padding: 10px 0;
    text-align: center;
    display: block;
  }
  header .padding-container nav ul li a {
    font-size: 12px;
  }
  header .padding-container nav li.separator {
    display: none;
  }
  header .padding-container address.author .info {
    max-width: 240px;
    margin-right: 16px;
  }
  header .padding-container .links-pane {
    margin: 0 auto;
    text-align: center;
    float: none !important;
  }
  #blog .categories-block {
    padding-top: 0;
  }
  #blog .categories-block ul {
    display: none;
    margin: 0 0 20px;
  }
  #blog .categories-block li {
    display: block;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    behavior: url(/keriat/jeremy-cowart/PIE.htc);
    margin: 5px 10px;
    padding: 10px 0;
    text-align: center;
    background: #fff;
  }
  #blog .categories-block .separator {
    display: none !important;
    padding: 0 10px;
  }
  #blog .categories-block .switch-categories-block {
    display: block;
  }
  .masonry {
    padding: 0;
  }
  .masonry article.masonry-brick {
    float: none;
    margin: 0 0 14px;
  }
  #single-post aside {
    float: none;
    padding: 0;
    margin: 0;
    border-right: 0;
    max-width: 100%;
  }
  #single-post aside address.author figure {
    text-align: center;
  }
  #single-post aside .side-list ul li {
    width: 100%;
  }
  #single-post aside .side-categories,
  #single-post aside .author,
  #single-post aside .banners {
    display: none;
  }
  #single-post article {
    padding-top: 20px;
    border-top: 1px solid #999;
    max-width: 100%;
    margin: 0;
  }
  #single-post article .social-block li {
    padding: 0;
    border: none;
  }
  #single-post article .comments .commentlist li.comment .comment-main-block {
    max-width: 100%;
    display: block !important;
    margin-top: 10px;
    border: none !important;
    margin-right: 30px !important;
  }
  #portfolio-album .nolookbook-header {
    display: block;
  }
  #portfolio-album aside {
    width: auto;
    float: none;
    margin-bottom: 30px;
  }
  #portfolio-album aside .header {
    margin-left: 0;
    padding-left: 16px;
  }
  #portfolio-album aside #selected-items {
    margin: 0;
  }
  #portfolio-album aside #selected-items li {
    width: 130px;
  }
  #portfolio-album section.masonry {
    margin-left: 0;
  }
  .dropdown {
    margin-top: 0;
    padding-top: 0;
    background: transparent;
  }
  .dropdown .menu-homepage-dropdown-menu-container li a > h4 {
    color: #fff;
  }
  .dropdown .menu-homepage-dropdown-menu-container li a:hover .about {
    display: none;
  }
  #fullScreenHome a.title {
    font-size: 40px;
  }
  .menu-homepage-dropdown-menu-container li a > h4 {
    display: block;
    font-size: 15px;
  }
  #scroll-to-top {
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    display: none;
    background: #ffffff url(img/top-arrow.png) 50% 50% no-repeat;
    width: 16px;
    height: 17px;
    padding: 5px;
    right: 5px;
    bottom: 200px;
  }
}
@media only screen and (max-width: 460px) {
  #wrapper {
    position: relative;
  }
  .modal {
    width: 280px;
    position: absolute;
    margin-left: 0;
    left: 10px;
    top: 25px;
    padding: 15px 4%;
  }
}

.category-all {
    border: 1px solid white;
}